[Unit]
Description=Docker Quobyte plugin Socket for the API
Documentation=https://github.com/quobyte/docker-volume

[Socket]
ListenStream=/var/run/docker/plugins/quobyte.sock

[Install]
WantedBy=sockets.target
