[Unit]
Description=Docker Quobyte Plugin
Documentation=https://github.com/quobyte/docker-volume

After=network.target docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/quobyte/docker-quobyte.env
ExecStart=/usr/local/bin/docker-quobyte-plugin
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
